
body { font-family: sans-serif; padding: 20px; background: #f4f4f4; }
.form-box { background: white; padding: 20px; border-radius: 10px; max-width: 500px; margin: 0 auto; }
input { display: block; width: 100%; margin: 10px auto; padding: 10px; }
button {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px ;
    background: #0082d1;
    color: white;
    border: none;
    cursor: pointer;
}
